body{
  padding:0;
  margin:0;
}

/* モーダルダイアログ設定 */
#modal-content{
  position:fixed;
  width:300px;
  margin:1.5em auto 0;
  padding:20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
  display:none;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}
 
.button-link:hover{  
  cursor:pointer;
  color:#f00;
}

#modal-close {
  font-size:36px
}

#modal-overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}

#headerNav {
  width:100%;
  height:64px;
  padding:0;
  margin:0;
  list-style-type: none;
  background:#00A896;
}

#headerNav li {
  width:200px;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}

#headerNav li a {
  width:auto;
  height:64px;
  color:#fff;
  font-size:24px;
  font-weight:bold;
  line-height:64px;
  padding:0;
  text-decoration:none;
  display:block;
  background:#00A896;
}


#headerNav li a:hover {
  background:#028090;
}

#movieList {
  width:100%;
  border:0px #808080 solid;
  border-collapse:collapse;
}

#movieList th {
  border-bottom:1px #808080 solid;
  padding:0;
}

#movieList td {
  border-bottom:1px #808080 solid;
  padding:0;
  margin:0;
}

#movieList .thumb {
  width:320px;
  height:240px;
  padding:5px 5px 5px 5px;
}

#movieList .thumb img {
  vertical-align:middle;
}

#movieList .link {
  font-size:26px;
  padding-left:10px;
}
