header{
}
body{
  padding:0;
  margin:0;
}
footer{
}
a {
  text-decoration:none;
}

#movieList {
  width:100%;
  border:0px #808080 solid;
  border-collapse:collapse;
}

#movieList th {
  border-bottom:1px #808080 solid;
  padding:0;
}

#movieList td {
  border-bottom:1px #808080 solid;
  padding:0;
  margin:0;
}

#movieList .thumb {
  width:320px;
  height:240px;
  padding:5px 5px 5px 5px;
}

#movieList .thumb img {
  vertical-align:middle;
}

#movieList .link {
  font-size:26px;
  padding-left:10px;
}
